* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: 100vw; */
    height: 100%;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("pawprint2-01.svg") no-repeat;
    background-size: cover;
}

.margin-top {
    margin-top: 17px;
}

.texto-apresentacao {
    text-indent: 20px;
    text-align: justify;
}

.titulo-destaque {
    color: #6746AF;
    text-align: center;
}

.number-email{
    text-align: center;
}

h1{
    color: #6746AF;    
}

.cor-linguagem {
    color: #CAFF8A;
}

img {
    border-radius: 35px;
    width: 222 px;
    height: 222px;
}

.espaco {
    padding-top: 10px;
}

.apresentacao-view {
    margin: 5% 13%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

hr{
    border: 0;
	border-top: 1px solid #6746AF;
}